# =========================
# DATABASE
# =========================
DB_URL=r2dbc:h2:mem:///usersdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
DB_USER=sa
DB_PASS=
H2_CONSOLE=true

# =========================
# VALIDATION
# =========================
PASSWORD_REGEX=^(?=.*[A-Z])(?=.*[a-z])(?=.*\d).{8,}$